Checks:
  "
  cppcoreguidelines-*
  readability-*
  performance-*
  google-build-using-namespace
  modernize-use-auto
  modernize-use-nullptr
  modernize-use-std-numbers
  -cppcoreguidelines-avoid-do-while
  -cppcoreguidelines-init-variables
  -cppcoreguidelines-owning-memory
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay
  -cppcoreguidelines-pro-bounds-constant-array-index
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  -cppcoreguidelines-pro-type-cstyle-cast
  -cppcoreguidelines-pro-type-reinterpret-cast
  -cppcoreguidelines-pro-type-union-access
  -cppcoreguidelines-pro-type-vararg
  -cppcoreguidelines-special-member-functions
  -cppcoreguidelines-avoid-magic-numbers
  -cppcoreguidelines-avoid-c-arrays
  -cppcoreguidelines-non-private-member-variables-in-classes
  -performance-avoid-endl
  -performance-enum-size
  -performance-no-int-to-ptr
  -readability-avoid-nested-conditional-operator
  -readability-magic-numbers
  "
FormatStyle: "file"
SystemHeaders: false
WarningsAsErrors: '*'
ExtraArgs:
  [
    "-I../lib/libgpiod/include",
    "-I../lib/libgpiod/bindings/cxx",
    "-I../lib/i2c-tools/include"
  ]
