BasedOnStyle: "LLVM"
AlignAfterOpenBracket: "AlwaysBreak"
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: "Empty"
AllowShortLambdasOnASingleLine: "Empty"
BinPackParameters: false
EmptyLineBeforeAccessModifier: "Always"
IncludeBlocks: "Regroup"
IncludeCategories:
  - Regex: '^".*'
    Priority: 4
    CaseSensitive: true
  - Regex: '^<(driver|shared)/'
    Priority: 3
    CaseSensitive: true
  - Regex: '^<(gpiod|i2c/)'
    Priority: 2
    CaseSensitive: true
  - Regex: '^<.*'
    Priority: 1
    CaseSensitive: true
IndentGotoLabels: false
IndentPPDirectives: "BeforeHash"
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language: "Cpp"
LineEnding: "LF"
NamespaceIndentation: "All"
PackConstructorInitializers: "Never"
QualifierAlignment: "Left"
RemoveParentheses: "ReturnStatement"
RemoveSemicolon: true
SeparateDefinitionBlocks: "Always"
SpaceAfterTemplateKeyword: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
Standard: "c++20"
TabWidth: 4
UseTab: "ForContinuationAndIndentation"
