[submodule "lib/libgpiod"]
	path = lib/libgpiod
	url = https://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git
	branch = v1.6.x
	shallow = true
	ignore = dirty
[submodule "compiler/glibc"]
	path = compiler/glibc
	url = https://sourceware.org/git/glibc.git
	shallow = true
	ignore = dirty
[submodule "compiler/binutils-gdb"]
	path = compiler/binutils-gdb
	url = https://sourceware.org/git/binutils-gdb.git
	shallow = true
	ignore = dirty
[submodule "compiler/gcc"]
	path = compiler/gcc
	url = https://gcc.gnu.org/git/gcc.git
	shallow = true
	ignore = dirty
[submodule "compiler/linux"]
	path = compiler/linux
	url = https://github.com/raspberrypi/linux
	shallow = true
	ignore = dirty
[submodule "lib/i2c-tools"]
	path = lib/i2c-tools
	url = https://git.kernel.org/pub/scm/utils/i2c-tools/i2c-tools.git
